<!-- <div class="container mt-4">
    <h2>Next View Component</h2>

    <p *ngIf="id !== null">Received ID: {{ id }}</p>

    <form (ngSubmit)="submitForm()" #form="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" class="form-control" name="name" [(ngModel)]="formData.name" required />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">updateTodoStatus:</label>
            <textarea id="description" class="form-control" name="description" [(ngModel)]="formData.description" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Submit
    </button>
    </form>
</div> -->










<h2>Next View Component</h2>
<p>Received ID: {{ todoId }}</p>

<div *ngIf="todoData">
    <p><strong>Old Todo:</strong> {{ todoData.todo }}</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>Todo Name:</label>
        <input type="text" formControlName="name" /><br />

        <label>Status:</label>
        <select formControlName="status">
      <option value="true">Completed</option>
      <option value="false">Pending</option>
    </select><br /><br />

        <button type="submit">Update Todo</button>
        <button type="reset">reset</button>
    </form>
</div>