<div id="toast" class="toast"></div>

<table class="todo-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Todo</th>
            <th>Completed</th>
            <th>User ID</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{ todo.id }}</td>
            <td>{{ todo.todo }}</td>
            <td>{{ todo.completed }}</td>
            <td>{{ todo.userId }}</td>
            <td class="action-buttons">
                <p-button icon="pi pi-user" label="Edit" severity="success" (click)="goToEdit(todo.id)" outlined>
                </p-button>

                <!-- <p-button icon="pi pi-trash" label="Delete" severity="danger" (click)="deleteTodo(todo.id)" outlined>
                </p-button> -->
                <p-button label="Delete" severity="danger" (onClick)="confirm2(todo.id)" [outlined]="true">
                </p-button>
            </td>
        </tr>
    </tbody>
</table>

<div class="bottom-buttons">
    <button class="btn btn-secondary" icon="pi pi-arrow-left" (click)="prevPage()" [disabled]="skip === 0">
    ⬅ Prev
  </button>

    <button class="btn btn-secondary" icon="pi pi-arrow-Next" (click)="nextPage()" [disabled]="skip + limit >= total">
    Next ➡
  </button>
</div>