<div class="forgot-wrapper">
    <div class="forgot-card">
        <h3>Forgot Password</h3>
        <p class="subtitle">Enter your email to receive a reset link.</p>

        <form (ngSubmit)="submitForgot()" #forgotForm="ngForm">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="Enter your email" />
            </div>

            <!-- <button type="submit" [disabled]="!forgotForm.valid">Send Reset Link</button> -->
            <p-button label="send Reset link " show="!forgotForm.valid" severity="help" />
        </form>

        <!-- <button (click)="backToLogin()" class="back-link">← Back to Login</button> -->
        <p-button label="backToLogin" (click)="backToLogin()" class="back-link" severity="success" />
    </div>
</div>