.button{
    border-radius: 50%;
    background-color: rgb(245, 240, 240);
    color: blue;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

  button:hover  {
    transition: 1.4s;
    color: red;
    


    }
}

