<div class="container">
    <h2 class="title">User List</h2>

    <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <!-- <div *ngIf="isLoading" class="loader-container">
        <div class="loader"></div>
    </div> -->


    <div class="user-grid" *ngIf="!loading && !error">
        <div *ngFor="let user of users" class="user-card">
            <h3 class="user-name">{{ user.name }}</h3>
            <p class="user-email">{{ user.email }}</p>
        </div>
    </div>
</div>
<!-- Toast -->
<div *ngIf="toastVisible" class="toast">
    {{ toastMessage }}
</div>

<!-- Below: Add your normal content like table etc -->