<div style="border:2px solid orange; padding:15px; margin:10px;">
    <h3> Child Component</h3>

    <div style="margin-bottom:10px;">
        <input type="text" [(ngModel)]="newUser.name" placeholder="Name" />
        <input type="email" [(ngModel)]="newUser.email" placeholder="Email" />
        <input type="number" [(ngModel)]="newUser.age" placeholder="Age" />
        <button (click)="addUser()">Add User</button>
        <!-- <button (click)="deleteUser(i)">Delete</button> -->
    </div>


    <p *ngIf="userList.length === 0">No users added yet.</p>

    <!-- User table -->
    <table *ngIf="userList.length > 0" border="1" cellpadding="5">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let user of userList; let i = index">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            <td>
                <button (click)="deleteUser(i)">Delete</button>
            </td>
        </tr>
    </table>
</div>




















<!-- <h2> User Profile</h2>
<div *ngIf="user">
    <p><b>Name:</b> {{ user.name }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
    <p><b>Age:</b> {{ user.age }}</p>

     Action buttons -->

<!-- <button (click)="deleteUser()" class="bg-red-500 text-white px-3 py-1 m-1 rounded">
        Delete User
      </button>


    <button (click)="addUser()" class="bg-yellow-500 ext-white px-3 py-1 m-1 rounded ">
        Back to update
      </button> -->
<!-- </div> -->